.fix-analysis-btn {
    position: relative;
    left: 790px;
    display: none;
}

#analysis {
    border: solid gray;
    position: absolute;
    top: 60px;
    right: 60px;
    left: 866px;
    bottom: 80px;
    padding: 10px;
    overflow-y: scroll;
}

#anal-title {
    color: white;
    margin-left: 20px;
    bottom: 5px;
    position: relative;
    font: bold normal 150% monospace;
}

.a-button {
    display: inline-block;
    position: relative;
    top: -10px;
    width: 100px;
    cursor: pointer;
}

.a-moven {
    color: #291268;
    font-family: 'Open Sans', sans-serif;
}

.a-cont-title {
    color: #291268;
    font-family: 'Open Sans', sans-serif;
}

.a-score-title {
    color: #291268;
    font-family: 'Open Sans', sans-serif;
}

.a-score {
    font-weight:bold
}

.a-best {
    font-weight:bold
}
