#analysis {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: 100%;
    float: right;
    border: solid gray;
}

.a-button {
    display: inline-block;
    width: 100px;
}
