@import play.api.libs.json.JsValue

@(settings: Map[String, String])(content: Html)
<div class="generic_dialog" id="fb-modal-@settings("title")">
	<div class="generic_dialog_popup" style="top: 70px; ">
		<table class="pop_dialog_table" id="pop_dialog_table-@settings("title")"
               style="width: @settings("width")">
			<tbody>
				<tr>
					<td class="pop_topleft" />
					<td class="pop_border pop_top" />
					<td class="pop_topright" />
				</tr>
				<tr>
					<td class="pop_border pop_side" />
					<td id="pop_content" class="pop_content">
						<h2 class="dialog_title">
							<span>@settings("title")</span>
						</h2>
						<div class="dialog_content">
							<div class="dialog_body" style="height: @settings("height")">
                                    @content
							</div>
                            <div class="dialog_buttons" style="margin: 10px;">
                                @if(settings.contains("closeButton")) {
                                    <input type="button" value="Close" name="Close" style="width: 80px ;" id="fb-close-@settings("title")" onclick="@settings("closeButton")"/>
                                }
                                @if(settings.contains("okButton")) {
                                    <input type="button" value="Ok" name="Ok" style="width: 80px;" id="fb-ok-@settings("title")" onclick="@settings("okButton")"/>
                                }
                            </div>
                        </div>
					</td>
					<td class="pop_border pop_side" />
				</tr>
				<tr>
					<td class="pop_bottomleft" />
					<td class="pop_border pop_bottom" />
					<td class="pop_bottomright" />
				</tr>
			</tbody>
		</table>
	</div>
</div>