@(content: Html)
<body onunload="unload()">
    <div id="header">
        <h1 id="welcome">
            <div class="btn-group inline">
                <button id="engine-selector"
                        name="engine-selector"
                        value="Stockfish"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        class="btn handlebtn btn-secondary dropdown-toggle">
                    <span id="engine-name">Stockfish</span>&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="javascript:selectEngine('Stockfish')">Stockfish</a></li>
                    <li><a href="javascript:selectEngine('Rybka')"> Rybka</a></li>
                    <li><a href="javascript:selectEngine('Mediocre')">Mediocre</a></li>
                </ul>
            </div>
        </h1>
        @tophandles(null)
    </div>

    <div id="content">@content</div>
    <div id="footer">Design and web programming by
        <a href="mailto:mjelnr@@gmail.com">Daniil Monakhov</a>.<br>Gens una sumus</div>
</body>