@(title: String)
<head>
    <title>@title</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/chessboard-0.3.0.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/analysis.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/settings.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/chess.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/clipboard.min.js")" charset="UTF-8"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" charset="UTF-8"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.js")" charset="UTF-8"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/webkit.js")" charset="UTF-8"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/utils.js")" charset="UTF-8"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/chess.js")" charset="UTF-8"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/chessboard-0.3.0.js")" charset="UTF-8"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/chigorin.js")" charset="UTF-8"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers.js")" charset="UTF-8"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/server.js")" charset="UTF-8"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/move.js")" charset="UTF-8"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/analysis.js")" charset="UTF-8"></script>
</head>