@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
        <title>@title</title>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/chess.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/analysis.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/settings.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/chessboard-0.3.0.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/clipboard.min.js")" charset="UTF-8"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" charset="UTF-8"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.js")" charset="UTF-8"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/webkit.js")" charset="UTF-8"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/chess.js")" charset="UTF-8"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/chessboard-0.3.0.js")" charset="UTF-8"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/chigorin.js")" charset="UTF-8"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers.js")" charset="UTF-8"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/server.js")" charset="UTF-8"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/move.js")" charset="UTF-8"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/analysis.js")" charset="UTF-8"></script>
</head>
     <body onunload="unload()">
     <div id="header">
     	<h1 id="welcome">Stockfish</h1>
         <div class="top-handles" style="left: 20%;">
             <div class="btn-group inline"><button name="newgame" value="new" class="btn handlebtn btn-info dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New game<span class="caret"></span></button>
                         <ul class="dropdown-menu">
                             <li><a href="javascript:newPosition()">Start position</a></li>
                             <li><a href="javascript:showLoadPgnBlock()">From PGN</a></li>
                             <li><a href="javascript:showLoadFenBlock()">From FEN</a></li>
                             <li><a href="javascript:setPieces()">Set pieces</a></li>
                         </ul>
             </div>
                @*onclick="newPosition()">*@
             <div class="btn-group inline">
                 <button name="loadfen" value="loadfen" class="btn btn-success handlebtn" onclick="showReadFenBlock()">Show FEN</button>
             </div>
             <div class="btn-group inline"><button id="movebtn" name="move" value="move" class="btn handlebtn btn-warning" onclick="moveBtnClick()">MOVE</button></div>
             <div class="btn-group inline"><div class="a-button" onclick="startAnalysis()"> <img id="a-start" src="@routes.Assets.at("images/analoff.png")"></div></div>
         </div>
         <div id="options" class="top-handles">
                    |
                    <span title="Dosmth" onclick="javascript:doSmth()">Do smth</span>
                    |
                    <span title="Settings" class="jslink" id="fb-trigger-settings">Settings</span>
                    |
                    <span title="About" class="jslink" id="fb-trigger-about">About</span>
                </div>
        </div>
        
        <script type="text/javascript" charset="utf-8">
</script>
   <div id="content">@content</div>
   <div id="footer">Design and web programming by
      <a href="mailto:mjelnr@@gmail.com">Daniil Monakhov</a>.<br>Gens una sumus</div>
    </body>
</html>
